*{
	padding: 0;
	margin: 10px;
	text-decoration:none ;
}

#menu{

	background:#333;
	color: green ;
	padding: 100px ;
	text-align: center;
}
nav{
	background-color: white;
	background:black ;
	padding: 10px ;
	margin: 10px;
	overflow: hidden;

}
nav a{
	display: block;
	padding: 10px;
	margin: 50px;
	color: whitesmoke;
	text-align: center;
}
nav a:hover{
	background-color: black;
	color: orangered;
}	
nav a:active{
	color: #32a834;
}
#link{
	color: orange;
}
#link:hover{
	color: red;}
#link:active{
	color:skyblue;}
#education{

color: blue;
}

#flex{
	display: flex;
	flex-wrap: nowrap;
}
#left{
	background-color:#333;
	flex: 40%;
}
#right{
	flex: 60%;
	background-color: #333;
	margin: 10px 20px;
}
table {
	border-collapse: collapse;
}

table td, table th {
	border: 1px solid #ddd;
	padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
.left_side{
	float: left;
}
.right_side
{
	float: right;
}
@media (max-width:800px){
	#flex{
		flex-wrap: wrap;
	}
	#left{
		flex: 100%;
	}
	#right{
		flex:100% ;
	}
}
@media (max-width:400px){
	#flex{
		flex-wrap: wrap;
	}
	#left{
		flex: 100%;
	}
	#right{
		flex:100% ;
	}
}