*{text-decoration: none;}

#container{
	display: flex;
	  font-family: "Times New Roman", Times, serif;

	
}
#text{
	text-align: left;
}
#left{
	flex: 30%;
	background : #658281 ;

}	
#right{
	flex : 70%;
	position: relative;
	left: 40px;
}
.info{
	display: flex;
	align-items: center;
}

#listen{
	width: 80%;
	height: 8px;
  	background : black;
  	border-radius: 5px;
  	
}
#speak{
	width: 90%;
	height: 8px;
  	background : black;
  	border-radius: 5px;
  	
}#write{
	width: 70%;
	height: 8px;
  	background : black;
  	border-radius: 5px;
  	
}#read{
	width: 90%;
	height: 8px;
  	background : black;
  	border-radius: 5px;	
}
.one{
	display: flex;
	align-items: center;
}
.hobby{
	color: blue ;
	display: flex;
	align-items: center;
	justify-content:space-evenly;
	
	background: pink;
	
	

}
h2{
	color: yellowgreen;
}
ul{
	border:5px solid #777777;
	padding: 40px;
	border-radius: 18%;
	text-align: center

}
.line{
    width:80px;
    height: 47px;
    border-bottom : 2px solid blue;
    position: relative;
    top: -20px;
    }
